.reset-wrapper {
    width: 450px;
}

.form-container {
    padding: 40px;
}

.reset-header {
    text-align: center;
    margin-bottom: 30px;
}

.reset-header h2 {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}

.reset-header p {
    color: var(--copyright-bg);
    font-size: 14px;
}